    <form method="POST" action="{{ url_for('predict_form') }}">

        <div class="form-group row" align=center>
             <textarea rows="10" cols="45" class="form-control col-sm-6" id="text" name="text" required type="text" value="">
	     </textarea> <br><br>
            <button type="submit" class="btn btn-info">Predict</button>
             <br><br>
            <b>{{ text }}</b>

            <b>{{ message}}</b>

	    <b>{{ response{0}</b>
        </div>
        
        
        
        

    </form>

